body {
    margin: 60px auto;
    width: 90%;
    background-color: #000000;
    color: #ffffff;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    width: 100%;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {

    width: 100%;
    padding: 100px;
    background-color: #d6dbc8;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*sliding door*/
.container {
	position: relative;
	overflow: hidden;
}
.door-left, .door-right {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0%;
	transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3;
}
.door-left {
	left: 0%;
	background-color: rgb(91,96,106);
}
.door-right {
	left: 50%;
	background-color: rgb(229,211,211);
}
.container:hover .door-left{
	left: -50%;
}
.container:hover .door-right{
	left: 100%;
}
