<!DOCTYPE html>
	<html>
		<head>
			<link rel="icon" href="http://i.imgur.com/04UVIYv.png">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	    			<div class="holdingbox">
	    			
	        		<center></center><li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/cv">cv</a></li>
	        		<li><a href="/blog">archive</a></li></center>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
			<footer>
	    		<ul>
	        		<li><a href="mailto:megkrafft@yahoo.com">email</a></li>
	        		<li><a href="https://github.com/meglynkrafft">github.com/meglynkrafft</a></li>
				</ul>
				
				<a href="facebook.com"><img src="http://i.imgur.com/5aBAB5r.png"></a> <a href="instagram.com"><img src="http://i.imgur.com/h9qIrLw.png"></a> <a href="twitter.com"><img src="http://i.imgur.com/NwXj5nP.png"></a>
			</footer>
	</html>
